<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>

    <meta name="viewport" content="width=device-width,initial-scale=0.5,maximum-scale=1,minimum-scale=0.2,user-scalable=no">
    <meta charset="UTF-8">
    <title>NewBalance-商品列表</title>
    <link rel="stylesheet" href="../../../packages/swiper/idangerous.swiper.css">
    <script src="../../../packages/requirejs/2.1.17/require.min.js"></script>
    <!-- build:template
    <script src="../../../modules/mix.built.js"></script>
    <script src="../../../modules/pages/productSearchList/built.js"></script>
    <script src="../../../modules/common/header/built.js"></script>
    <script src="../../../modules/common/footer/built.js"></script>
    /build -->

</head>
<!--[if IE 8]>
<style type="text/css">
    body{
        behavior:url(../../../packages/borderradius/PIE.htc);
    }
    .pageMain .productListBox .productList .product .propope .protitle .popeswiper.left .buyingGuide{
        position: absolute;
        right: 50px;
        top: 0;
        width: 58px;
        height: 58px;
        background-image: url(../../../images/guide1.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .pageMain .productListBox .productList .product hr{
        left: 0px;
    }
</style>

<![endif]-->
<body>
<%- include('../../common/header/index') %>
<div class="pageMain">
    <div class="searchBar">
        <div>
            <p>”MKL980“的搜索结果</p>
        </div>
    </div>
    <div class="productListBox">
        <ul class="productList">
            <li class="product adcell">
                <div class="maiginbtn">
                    <div class="imgpos">
                        <img src="../../../images/vazee_promo_banner.jpg" title="" alt="" border="0"/>
                    </div>
                </div>
            </li>
            <li class="product" >
                <div class="maiginbtn">
                    <div class="imgpos">
                        <img src="../../../images/vazee_pic.png" title="M1980GB" alt="M1980GB" border="0"/>
                    </div>
                    <div class="prono">M1980GB</div>
                    <hr/>
                    <p>较快配速避震跑鞋</p>
                </div>
            </li>
            <li class="product">
                <div class="maiginbtn">
                    <div class="imgpos">
                        <img src="../../../images/vazee_pic.png" title="M1980GB" alt="M1980GB" border="0"/></div>
                    <div class="prono">M1980GB</div>
                    <hr/>
                    <p>较快配速避震跑鞋</p>
                </div>
            </li>
            <li class="product">
                <div class="maiginbtn">
                    <div class="imgpos">
                        <img src="../../../images/vazee_pic.png" title="M1980GB" alt="M1980GB" border="0"/></div>
                    <div class="prono">M1980GB</div>
                    <hr/>
                    <p>较快配速避震跑鞋</p>
                </div>
            </li>
            <li class="product">
                <div class="maiginbtn">
                    <div class="imgpos">
                        <img src="../../../images/vazee_pic.png" title="M1980GB" alt="M1980GB" border="0"/></div>
                    <div class="prono">M1980GB</div>
                    <hr/>
                    <p>较快配速避震跑鞋</p>
                </div>
            </li>
            <li class="product">
                <div class="maiginbtn">
                    <div class="imgpos">
                        <img src="../../../images/vazee_pic.png" title="M1980GB" alt="M1980GB" border="0"/></div>
                    <div class="prono">M1980GB</div>
                    <hr/>
                    <p title="M1980GB">较快配速避震跑鞋</p>
                </div>
            </li>
            <li class="product">
                <div class="maiginbtn">
                    <div class="imgpos">
                        <img src="../../../images/vazee_pic.png" title="M1980GB" alt="M1980GB" border="0"/></div>
                    <div class="prono">M1980GB</div>
                    <hr/>
                    <p>较快配速避震跑鞋</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<%- include('../../common/footer/index') %>
<script src="../../../modules/common/config.js" baseUrl='../../../' main='modules/pages/productSearchList/index'></script>

</body>
</html>
