<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>

    <meta name="viewport"
          content="width=device-width,initial-scale=0.5,maximum-scale=1,minimum-scale=0.2,user-scalable=no">
    <meta charset="UTF-8">
    <title>NewBalance-联系我们</title>
    <link rel="stylesheet" href="/packages/swiper/idangerous.swiper.css">
    <script src="../../../packages/requirejs/2.1.17/require.min.js"></script>
    <!-- build:template
    <script src="../../../modules/mix.built.js"></script>
    <script src="../../../modules/pages/limitedEdition/built.js"></script>
    <script src="../../../modules/common/header/built.js"></script>
    <script src="../../../modules/common/footer/built.js"></script>
    /build -->
    <script src="../../../modules/common/config.js" baseUrl='../../../' main='modules/pages/limitedEdition/index'></script>
</head>
<body>
<%- include('../../common/header/index') %>
<style>
    .header {
        background: #232323;
        height: 56px;
        font-size: 13px;
        position: fixed;
        width: 100%;
        z-index: 100;
    }
    .header-tab {
        position: fixed;
        top: -34px;
        width:auto;
        left: 45%;
        z-index: 101;
        -ms-pointer-events: none;
        pointer-events: none;
    }
</style>
<div id="limitedEdition-banner">
    <a href="javascript:void(0)" class="btn_blue btn"></a>
    <a href="javascript:void(0)" class="btn_red btn"></a>
    <div class="red">
        <img src="../../../images/limitedEditionTop.png">
    </div>
    <div class="blue">
        <img src="../../../images/limitedEditionjijiangfashouall.png">
    </div>
</div>
<div id="empty"></div>
<div id="red">
    <div class="red_bg limitedEdition01">
        <div class="time"><i class="icon"></i>发售时间：2015年6月21日 </div>
        <div class="info">INVINCIBLE x New Balance CM1400INV </div>
        <div class="sub-info">2013年INVINCIBLE与NewBalance二度联手，推出设计灵感来自于
            布洛克鞋（Brogue Shoes）的市售版CM1400INV “Brogue”。 </div>
        <div class="infolist">
            <ul>
                <li>鞋面采用冲孔工艺，酷似布洛克鞋的鞋面。</li>
                <li>美国知名皮革厂商Wolverine客供的海军蓝色猪皮呈现出极高质感。</li>
                <li>全皮的内衬和蜡浸鞋带将主题深化到更高层次。</li>
                <li>鞋垫上的金色INVINCIBLE字样使用了与WALK OVER商标相似的字体，为联乘鞋款增添无限趣味。</li>
            </ul>
        </div>
    </div>
    <div class="red_bg limitedEdition02 red_right">
        <div class="time"><i class="icon"></i>发售时间：2015年5月11日 </div>
        <div class="info">New Balance MRT580XX </div>
        <div class="sub-info">2015年春季New Balance以MRT580为蓝本，打造限定款式MRT580XX。 </div>
        <div class="infolist">
            <ul>
                <li>MRT580XX的设计与当季时尚流行趋势一致——采用全白色设计。</li>
                <li>鞋面采用鳄鱼纹压花的天然皮革打造，极具奢侈感。</li>
                <li>鞋面的局部、鞋帮上“N”字Logo以及后跟位置采用了反光材料。</li>
                <li>此外MRT580XX采用特殊的黑色包装盒加入鳄鱼皮革纹路，并在白色的吸潮纸加入银色“X”图案，与鞋子的设计相呼应。</li>
            </ul>
        </div>
    </div>
    <div class="red_bg limitedEdition03">
        <div class="time"><i class="icon"></i>发售时间：2015年4月19日 </div>
        <div class="info">NB X FOOT PATROL M1500FPK“Encyclopaedia”大英百科全书 </div>
        <div class="sub-info">扎根伦敦的FOOT PATROL 凭借“高、精、尖”的遴选原则与代表性的面具LOGO成为欧洲首屈一指的Sneaker名所。<br/>
            FOOT PATROL以“Encyclopedia”《大英百科全书》<br/>
            为主题拉响了与New Balance的联名合作。
        </div>
        <div class="infolist">
            <ul>
                <li>柔软麂皮与光滑猪皮组成的黑色鞋面与金色刺绣细节相得益彰，完美再现了大英百科的封面。</li>
                <li>鞋垫图案取材于大英百科中收录的足部骨骼图。</li>
                <li>做旧处理的米白色中底恰恰与泛黄的纸张如出一辙。</li>
                <li>特别设计的鞋舌标上，一句“Knowledge is key”更成为神来之笔。</li>
            </ul>
        </div>
    </div>
    <div class="red_bg limitedEdition04 red_right">
        <div class="time"><i class="icon"></i>发售时间：2015年2月24日 </div>
        <div class="info">NB X BARNEYS CM1700WG “Glow in the dark” </div>
        <div class="sub-info">纽约第五大道的老牌百货精品店BARNEYS NEW YORK首次联手new balance，以独具特色的1700联名为15周年庆生。 </div>
        <div class="infolist">
            <ul>
                <li>联名款最大的亮点莫过于多处夜光细节，鞋底，鞋面内侧，鞋舌标，N字以及鞋带都加入夜光材料。</li>
                <li>而夜光内衬透过冲孔麂皮闪烁出的萤火虫光泽更让整件作品在夜晚蔚为壮观。</li>
            </ul>
        </div>
    </div>
    <div class="red_bg limitedEdition05">
        <div class="time"><i class="icon"></i>发售时间：2015年2月14日 </div>
        <div class="info">NB X CONCEPTS CM496CP“Regatta” </div>
        <div class="sub-info">波士顿潮流店铺Concepts 以New Balance 496 “Regatta” 联名新作，为自己进驻大都市纽约开设新店铺营造声势。
        </div>
        <div class="infolist">
            <ul>
                <li>以界限分明的红蓝色为鞋面主色，通过冒险刺激性十足的帆船赛事运动为灵感设计出这双鞋子。</li>
                <li>翻毛皮鞋面上鲜艳的红色和水蓝色拼接象征航海旗帜和帆船。</li>
            </ul>
        </div>
    </div>
    <div class="red_bg limitedEdition06 red_right">
        <div class="time"><i class="icon"></i>发售时间：2015年2月1日 </div>
        <div class="info">NB X SOCIAL STATUS CM1600SS“Winter in the Hamptons” </div>
        <div class="sub-info">来自北卡罗莱纳州的潮流名所“Social Status”为Bew Balance的联名项目添上新的一笔。</div>
        <div class="infolist">
            <ul>
                <li>以享有盛誉的丹宁品牌Cone® denim成为组成鞋身的主菜。</li>
                <li>而围绕原色丹宁搭配的优质麂皮、牛巴革以及植鞣革，恰如前菜与甜点，毫无违和的汇集成一道丰盛的西式大餐。</li>
                <li>配色方案以长岛东岸著名的富人海滩“汉普顿”为灵感，冬日海水深浅不一的蓝色，游艇内奢华的驼色内饰，达成了简单而不失亮点的效果。</li>
            </ul>
        </div>
    </div>
    <div class="red_bg limitedEdition07">
        <div class="time"><i class="icon"></i>发售时间：2015年1月18日 </div>
        <div class="info">New Balance M998 Bespoke </div>
        <div class="sub-info">New Balance联手芝加哥知名皮革制作商Horween Leather Company以工匠之心打造年终力作 M998 Bespoke系列。
        </div>
        <div class="infolist">
            <ul>
                <li>New Balance联手芝加哥知名皮革制作商Horween Leather Company以工匠之心打造年终力作 M998 Bespoke系列。</li>
                <li>选用Horween Leather Company提供的全粒面牛皮作为鞋面主料，其优质皮革所具备的质感和光泽另998 Bespoke散发出一种让人难以察觉却无法抗拒的奢华气息。</li>
            </ul>
        </div>
    </div>
    <div class="red_bg limitedEdition08 red_right">
        <!--<div class="time"><i class="icon"></i>发售时间：2015年2月1日 </div>-->
        <div class="info">M997PR “THE BLACK HAT SHERIFF” </div>
        <div class="sub-info">New Balance M997PR的设计灵感来源于美国西部小说。</div>
        <div class="infolist">
            <ul>
                <li>以细腻的麂皮搭配客供Horween Leather让鞋款拥有非凡质感。</li>
                <li>随鞋附赠的五角警章和西部风格方巾，更加凸显心目中“黑帽警长”的形。</li>
            </ul>
        </div>
    </div>
    <div class="red_bg limitedEdition09">
        <div class="time"><i class="icon"></i>发售时间：2014年12月07日 </div>
        <div class="info">Packer Shoes x new balance P740PPR“Purple Reign” 紫金王朝 </div>
        <div class="sub-info">New Balance 联手 Packer Shoes，用一双“Purple Reign”向James Worthy 80年代的辉煌征程致敬。
        </div>
        <div class="infolist">
            <ul>
                <li>饱满的紫色鞋身与金色细节汲取于Worthy的客场球衣配色。</li>
                <li>柔软的麂皮与天鹅绒鞋面令质感爆棚。</li>
                <li>而Worthy标志性的护目镜也用抽象的图案出现在鞋垫及吊坠上。</li>
            </ul>
        </div>
    </div>
    <div class="red_bg limitedEdition10 red_right">
        <div class="time"><i class="icon"></i>发售时间：2014年12月07日 </div>
        <div class="info">NB X WEST NYC M530WST“LAVA”熔岩</div>
        <div class="sub-info">纽约潮流名所WEST NYC联手New Balance推出M530WST“Lava熔岩”别注，将WEST NYC一贯奉行的美式街头风格挥洒得淋漓尽致。</div>
        <div class="infolist">
            <ul>
                <li>霓虹色彩点缀于黑白灰拼接的鞋面之上，营造出强烈的层次感与呼之欲出的90年代运动风。</li>
                <li>中底与LOGO的泼墨效果呼应“熔岩”主题。</li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
