@import '../../common/global';
@import '../../common/font';

@bgcolor: #232323;
@probgcolor: #ededed;

@font-face {
  font-family: 'ITCAvantGardeStd-Demi';
  src: url('../../../fonts/itcavantgardestd-demi.eot');
  src: url('../../../fonts/itcavantgardestd-demi.eot') format('embedded-opentype'),
  url('../../../fonts/itcavantgardestd-demi.woff') format('woff'),
  url('../../../fonts/itcavantgardestd-demi.ttf') format('truetype'),
  url('../../../fonts/itcavantgardestd-demi.svg#ITCAvantGardeStd-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-size: 12px;
  width: 100%;
  a:hover {
    text-decoration: none;
  }
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #000;
}

.contactscontainer {
  display: table;
  margin: 0 auto;
  .row {
    display: table-row;
  }
  .cell {
    display: table-cell;
  }
}

#limitedEdition-banner {
  .layer{
    position: absolute;
    height: 100%;
    width: 50%;
    background: #fff;
    opacity: 0;
    &:hover{
      opacity: .05;
    }
  }
  .half-pic-bj,.full-pic-bj{
    width: 100%;
    height: auto;
    img{
      width: 100%;
      height: auto;
    }
  }
  .bnt{
    height: 20px;
    width: 155px;
    background: url("../../../images/lebj.jpg") repeat-x center;
    color: #000;
    font-size: 14px;
    text-align: center;
    letter-spacing: 10px;
    display: inline-block;
    position: absolute;
    line-height: 20px;
    z-index: 10;
    &:hover{
      cursor: pointer;
    }
  }
  .left-panle{
    float: left;
    width: 50%;
    height: 100%;
  }
  .right-panle{
    float: right;
    width: 50%;
    height: 100%;
  }

}

#red {
  display: none;
}

.red_bg {
  width: 100%;
  height: 600px;
  padding: 135px 0 0 100px;
  color: #fff;
  .time {
    font-size: 24px;
    .icon {
      width: 23px;
      height: 23px;
      background: url("../../../images/titleicon.png") no-repeat center;
      display: inline-block;
      margin-right: 5px;
    }
  }
  .info {
    width: 600px;
    margin-top: 10px;
    font-family: 'ITCAvantGardeStd-Demi';
    font-size: 40px;
  }
  .sub-info {
    font-size: 14px;
    width: 445px;
    margin: 30px 0;
    line-height: 22px;
  }
  .infolist {
    padding-left: 15px;
    li {
      list-style: square;
      color: #fff;
      width: 420px;
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.red_right {
  padding-left: 57%;
}

.limitedEdition01 {
  background: url("../../../images/limitedEdition01.jpg") no-repeat center;
}

.limitedEdition02 {
  background: url("../../../images/limitedEdition02.jpg") no-repeat center;
}

.limitedEdition03 {
  background: url("../../../images/limitedEdition03.jpg") no-repeat center;
}

.limitedEdition04 {
  background: url("../../../images/limitedEdition04.jpg") no-repeat center;
}

.limitedEdition05 {
  background: url("../../../images/limitedEdition05.jpg") no-repeat center;
}

.limitedEdition06 {
  background: url("../../../images/limitedEdition06.jpg") no-repeat center;
}

.limitedEdition07 {
  background: url("../../../images/limitedEdition07.jpg") no-repeat center;
}

.limitedEdition08 {
  background: url("../../../images/limitedEdition08.jpg") no-repeat center;
}

.limitedEdition09 {
  background: url("../../../images/limitedEdition09.jpg") no-repeat center;
}

.limitedEdition10 {
  background: url("../../../images/limitedEdition10.jpg") no-repeat center;
}






