@import '../../common/global';
@import '../../common/font';

@bgcolor: #232323;
@probgcolor: #ededed;

@font-face {
  font-family: 'ITCAvantGardeStd-Demi';
  src: url('../../../fonts/itcavantgardestd-demi.eot');
  src: url('../../../fonts/itcavantgardestd-demi.eot') format('embedded-opentype'),
  url('../../../fonts/itcavantgardestd-demi.woff') format('woff'),
  url('../../../fonts/itcavantgardestd-demi.ttf') format('truetype'),
  url('../../../fonts/itcavantgardestd-demi.svg#ITCAvantGardeStd-Demi') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-size: 12px;
  width: 100%;
  a:hover {
    text-decoration: none;
  }
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: #000;
}

.contactscontainer {
  display: table;
  margin: 0 auto;
  .row {
    display: table-row;
  }
  .cell {
    display: table-cell;
  }
}

#limitedEdition-banner {
  position: absolute;
  width: 100%;
  height: 100%;
  .layer{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .5;
    z-index: 9;
    .transition(opacity .5s ease);
    &:hover{
      opacity: 0;
    }
  }
  .ttl{
    position: absolute;
    width: 40%;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -20%;
    z-index: 10;
    img{
      width: 100%;
      height: auto;
    }
  }
  .half-pic-bj,.full-pic-bj{
    width: 100%;
    height: 100%;
    img{
      width: 100%;
      height: auto;
    }
    .full-pic-bj{
      height: 100%;
    }
    .full{
      width: 100%;
      height: 100%;
    }
  }
  .full-pic-bj{
    display: none;
  }
  .bnt{
    display: block;
    width: 24%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: 60px 0 0 -12%;
    z-index: 10;
    img{
      width: 100%;
      height: auto;
    }
    &:hover{
      cursor: pointer;
    }
  }
  .left-panle{
    float: left;
    width: 50%;
    height: 100%;
    position: relative;
  }
  .right-panle{
    float: right;
    width: 50%;
    height: 100%;
    position: relative;
  }

}

#red {
  display: none;
  overflow: auto;
}

.red_bg {
  width: 100%;
  height: 600px;
  padding: 135px 0 0 100px;
  color: #fff;
  .time {
    font-size: 24px;
    .icon {
      width: 23px;
      height: 23px;
      background: url("../../../images/titleicon.png") no-repeat center;
      display: inline-block;
      margin-right: 5px;
    }
  }
  .info {
    width: 600px;
    margin-top: 10px;
    font-family: 'ITCAvantGardeStd-Demi';
    font-size: 40px;
  }
  .sub-info {
    font-size: 14px;
    width: 445px;
    margin: 30px 0;
    line-height: 22px;
  }
  .infolist {
    padding-left: 15px;
    li {
      list-style: square;
      color: #fff;
      width: 420px;
      font-size: 14px;
      line-height: 22px;
    }
    .nolist{
      width: 430px;
      list-style: none;
    }
    .paddingtop{
      padding-top: 10px;
    }
  }
}

.red_right {
  padding-left: 57%;
}

.limitedEdition01 {
  background: url("../../../images/limitedEdition01.jpg") no-repeat center;
}

.limitedEdition02 {
  background: url("../../../images/limitedEdition02.jpg") no-repeat center;
}

.limitedEdition03 {
  background: url("../../../images/limitedEdition03.jpg") no-repeat center;
}

.limitedEdition04 {
  background: url("../../../images/limitedEdition04.jpg") no-repeat center;
}

.limitedEdition05 {
  background: url("../../../images/limitedEdition05.jpg") no-repeat center;
}

.limitedEdition06 {
  background: url("../../../images/limitedEdition06.jpg") no-repeat center;
}

.limitedEdition07 {
  background: url("../../../images/limitedEdition07.jpg") no-repeat center;
}

.limitedEdition08 {
  background: url("../../../images/limitedEdition08.jpg") no-repeat center;
}

.limitedEdition09 {
  background: url("../../../images/limitedEdition09.jpg") no-repeat center;
}

.limitedEdition10 {
  background: url("../../../images/limitedEdition10.jpg") no-repeat center;
}
.limitedEdition11 {
  background: url("../../../images/limited_home_left_full_bg.jpg") no-repeat;
  background-size: 100% auto;
  background-position: left top;
}



.top-btn {
  display: none;
  width: 78px;
  height: 78px;
  border: 1px solid #FFF;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  text-decoration: none;
  span {
    display: block;
    height: 50px;
    background: url(../../../images/jiantou.png) center center no-repeat;
  }
  b {
    font-weight: normal;
    color: #fff;
    font-size: 12px;
  }
}


