@headerbackground:#232323;
@hover_meun:#e7e7e7;
@hover_childmeun:#f7f7f7;
@fontcolor:#000;
@mcolor:#545454;
.margin_btm{
  margin-bottom: 10px;
}
.header{
  background: @headerbackground;
  height: 56px;
  font-size: 13px;
  position: relative;
  .logo{
    background: url("../../../images/nbLogo.png") no-repeat;
    width: 170px;
    height: 56px;
    display: inline-block;
    float: left;
  }
  .header_meun{
    float: left;
    position: static;
    overflow: visible;
    height: 56px;
    display: inline-block;
    width: auto;
    ul{
      display: inline-block;
    }
    li{
      float: left;
      color: #fff;
      text-align: center;
      display: inline-block;
      span{
        width: 70px;
        height: 56px;
        line-height: 56px;
        display: inline-block;
        position: relative;
      }
    }

  }
  .hover_meun {
    background: @hover_meun;
    color: @headerbackground !important;
    cursor: pointer;
    &:before,&:after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
  }
  &:before {
    border-top: 56px solid transparent;
    border-right: 28px solid @hover_meun;
    left: -28px;
  }
  &:after {
    border-bottom: 72px solid transparent;
    border-left: 28px solid @hover_meun;
    right: -28px;

  }
}
  .search-box{
    display: inline-block;
    position: relative;
    width: 410px;
    height: 56px;
    top: 0;
    padding-right: 48px;
    padding-left: 15px;
    overflow: hidden;
    left: 315px;
    text-align: right;
    .search-container {
      position: relative;
      max-width: 410px;
      height: 36px;
      top: 10px;
      margin-left: 18px;
      background: @hover_meun;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      &::before {
        display: block;
        width: 0px;
        height: 0px;
        border-style: solid;
        position: absolute;
        content: "";
        border-width: 0 0 36px 18px;
        border-color: transparent transparent @hover_meun transparent;
        left: -18px;
        top: 0;
      }
      &::after {
        display:block;
        width: 0px;
        height: 0px;
        border-style: solid;
        position: absolute;
        content: "";
        border-width: 36px 18px 0 0;
        border-color: @hover_meun transparent transparent transparent;
        right: -18px;
        top: 0;
      }
      form {
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
      input {
        font-size: 13px;
        margin: 0;
        padding-left: 15px;
        padding-right: 48px;
        background: @hover_meun;
        color: @headerbackground;
        border: none;
        height: 36px;
        line-height: normal;
        font-weight: 400;
        font-style: normal;
        letter-spacing: .2px;
        border-width: 1px 0 0 1px;
        width: 100%;
        outline: none;
      }
      button {
        display: inline-block;
        right: 15px;
        position: absolute;
        top: 0;
        height: 36px;
        line-height: 36px;
        padding: 0;
        margin: 0;
        border: none;
        background: transparent;
        box-shadow: none;
      }

    }

  }
  .findstore{
     display: inline-block;
     position: relative;
     top: 0;
     left: 365px;
     height: 56px;
     line-height: 56px;
     width: 100px;
     overflow: hidden;
     text-align: right;
     background: red;
   }
  .category_expand{
    display: none;
    top: 56px;
    left: 0;
    height: auto;
    width: 100%;
    cursor: default;
    background: @hover_childmeun;
    z-index: 2;
    position: absolute;
  }
  .category_expand_inner{
    max-width: 1020px;
    background: @hover_childmeun;
    background-size: 200px 200px;
    display: table;
    margin: 0 25%;
  }
  .row {
    display: table-row;
    text-align: left;
  }
  .cell {
    display: table-cell;
    width: 152px;
    height: 268px;
    padding-top: 20px;
    hr{
      .margin_btm;
    }
    .title{
      font-size: 19px;
      color: @fontcolor;
      clear: both;
      .margin_btm;
    }
    .category_content{
      display:block;
      float:left;
      clear: both;
      .margin_btm;
       .left_content{
         float: left;
         color: @mcolor;
       }
      .right_content{
        float: left;
        padding-left: 30px;
        li{
          float: none;
          display: block;
          color: @mcolor;
          height: 18px;
          line-height: 18px;
          text-align: left;
        }
      }

    }
  }
  .cellp{
    width: 70px!important;
  }
}
