<!--[if IE 8]>
<style type="text/css">

    .header .logo {
        background: #df1e3b;
        text-decoration: none;
        width: 148px;
        height: 56px;
        display: inline-block;
        float: left;
        position: relative;
        font-size: 34px;
        color: white;
        text-align: center;
        line-height: 56px;
        background: url("../../../images/nblogo.png") no-repeat center;
    }
    .header .logo:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-bottom: 56px solid transparent;
        border-left: 23px solid transparent;
        right: -23px;
    }
    .header .icon-nb:before {
        content: "";
    }
    .header .logo:hover {
        text-decoration: none;
    }
    .header .header_meun .runguwen .icon-shoe-left{
        content:"";
        background: url("../../../images/shoes.png") no-repeat center\0;
    }
    .header .search-box .search-container input {
        line-height: 36px\0;
    }
</style>
<![endif]-->
<div class="header">
    <a class="logo icon-nb" href="./home"></a>
    <div class="header_meun">
        <ul>
            <li class="man">
                <span><a href="/productList">男</a></span>
                <div class="category_expand">
                    <div class="category_expand_inner">
                        <div class="row">
                            <div class="cell">
                                <div class="title"><a href="javascript:;">鞋类</a></div>
                                <hr/>
                                <div class="category_content">
                                    <div class="left_content"><a href="javascript:;">专业运动</a></div>
                                    <div class="right_content">
                                        <ul>
                                            <li><a href="javascript:;">跑步</a></li>
                                            <li><a href="javascript:;">网球</a></li>
                                            <li><a href="javascript:;">足球</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="clear: both;display: none"></div>
                                <div class="category_content">
                                    <div class="left_content"><a href="javascript:;">经典复古</a></div>
                                    <div class="right_content">
                                        <ul>
                                            <li><a href="javascript:;">复古跑鞋</a></li>
                                            <li><a href="javascript:;">omni</a></li>
                                            <li><a href="javascript:;">英美产</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="title"><a href="javascript:;">所有男子鞋类<span class="arrow_right"></span></a></div>
                            </div>
                            <div class="cell cellp">&nbsp;</div>
                            <div class="cell">
                                <div class="title"><a href="javascript:;">服饰/配饰</a></div>
                                <hr/>
                                <div class="category_content">
                                    <div class="left_content"><a href="javascript:;">专业运动</a></div>
                                    <div class="right_content">
                                        <ul>
                                            <li><a href="javascript:;">上衣</a></li>
                                            <li><a href="javascript:;">下装</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="clear: both;display: none"></div>
                                <div class="category_content">
                                    <div class="left_content"><a href="javascript:;">经典复古</a></div>
                                    <div class="right_content">
                                        <ul>
                                            <li><a href="javascript:;">上衣</a></li>
                                            <li><a href="javascript:;">下装</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="clear: both;display: none"></div>
                                <div class="category_content">
                                    <div class="left_content"><a href="javascript:;">其他配件</a></div>
                                    <div class="right_content">
                                        <ul>

                                        </ul>
                                    </div>
                                </div>
                                <div class="title" style="padding-top: 23px;"><a href="javascript:;">所有男子服饰配饰<span class="arrow_right"></span></a></div>
                            </div>
                            <div class="cell cellp">&nbsp;</div>
                            <div class="cell">
                                <div class="title"><a href="javascript:;">主推系列</a></div>
                                <hr/>
                                <div class="category_content">
                                    <div class="right_content" style="padding-left: 0">
                                        <ul>
                                            <li><a href="javascript:;">NBx 顶级跑鞋</a></li>
                                            <li><a href="javascript:;">Fresh Foam 缓震跑鞋</a></li>
                                            <li><a href="javascript:;">Vazee 轻量跑鞋</a></li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li><a href="javascript:;">V580 新街头主义</a></li>
                                            <li><a href="javascript:;">99X</a></li>
                                            <li><a href="javascript:;">限量款</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="gril">
                <span><a href="javascript:;">女</a></span>
                <div class="category_expand">
                    <div class="category_expand_inner">
                        <div class="row">
                            <div class="cell">
                                <div class="title"><a href="javascript:;">鞋类</a></div>
                                <hr/>
                                <div class="category_content">
                                    <div class="left_content"><a href="javascript:;">专业运动</a></div>
                                    <div class="right_content">
                                        <ul>
                                            <li><a href="javascript:;">跑步</a></li>
                                            <li><a href="javascript:;">网球</a></li>
                                            <li><a href="javascript:;">女子健身</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="clear: both;display: none"></div>
                                <div class="category_content">
                                    <div class="left_content"><a href="javascript:;">经典复古</a></div>
                                    <div class="right_content">
                                        <ul>
                                            <li><a href="javascript:;">复古跑鞋</a></li>
                                            <li><a href="javascript:;">omni</a></li>
                                            <li><a href="javascript:;">英美产</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="title"><a href="javascript:;">所有女子鞋类<span class="arrow_right"></span></a></div>
                            </div>
                            <div class="cell cellp">&nbsp;</div>
                            <div class="cell">
                                <div class="title"><a href="javascript:;">服饰/配饰</a></div>
                                <hr/>
                                <div class="category_content">
                                    <div class="left_content"><a href="javascript:;">专业运动</a></div>
                                    <div class="right_content">
                                        <ul>
                                            <li><a href="javascript:;">上衣</a></li>
                                            <li><a href="javascript:;">下装</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="clear: both;display: none"></div>
                                <div class="category_content">
                                    <div class="left_content"><a href="javascript:;">经典复古</a></div>
                                    <div class="right_content">
                                        <ul>
                                            <li><a href="javascript:;">上衣</a></li>
                                            <li><a href="javascript:;">下装</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="clear: both;display: none"></div>
                                <div class="category_content">
                                    <div class="left_content"><a href="javascript:;">其他配件</a></div>
                                    <div class="right_content">
                                        <ul>

                                        </ul>
                                    </div>
                                </div>
                                <div class="title" style="padding-top: 23px;"><a href="javascript:;">所有女子服饰配饰<span class="arrow_right"></span></a></div>
                            </div>
                            <div class="cell cellp">&nbsp;</div>
                            <div class="cell">
                                <div class="title"><a href="javascript:;">主推系列</a></div>
                                <hr/>
                                <div class="category_content">
                                    <div class="right_content" style="padding-left: 0">
                                        <ul>
                                            <li><a href="javascript:;">NBx 顶级跑鞋</a></li>
                                            <li><a href="javascript:;">Fresh Foam 缓震跑鞋</a></li>
                                            <li><a href="javascript:;">Vazee 轻量跑鞋</a></li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li><a href="javascript:;">V580 新街头主义</a></li>
                                            <li><a href="javascript:;">99系</a></li>
                                            <li><a href="javascript:;">限量款</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="childen">
                <span><a href="javascript:;">儿童</a></span>
                <div class="category_expand">
                    <div class="category_expand_inner">
                        <div class="row">
                            <div class="cell">
                                <div class="title"><a href="javascript:;">婴童（0-2岁)</a></div>
                                <hr/>
                                <div class="category_content">
                                    <div class="right_content" style="padding-left: 0">
                                        <ul>
                                            <li><a href="javascript:;">复古鞋</a></li>
                                            <li><a href="javascript:;">凉鞋</a></li>
                                            <li><a href="javascript:;">户外/越野/健步</a></li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="title"><a href="javascript:;">所有婴童鞋类<span class="arrow_right"></span></a></div>
                            </div>
                            <div class="cell cellp">&nbsp;</div>
                            <div class="cell">
                                <div class="title"><a href="javascript:;">中童（2-6岁）</a></div>
                                <hr/>
                                <div class="category_content">
                                    <div class="right_content" style="padding-left: 0">
                                        <ul>
                                            <li><a href="javascript:;">复古鞋</a></li>
                                            <li><a href="javascript:;">跑步鞋</a></li>
                                            <li><a href="javascript:;">凉鞋</a></li>
                                            <li><a href="javascript:;">户外/越野/健步</a></li>
                                            <li>&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="title"><a href="javascript:;">所有中童鞋类<span class="arrow_right"></span></a></div>
                            </div>
                            <div class="cell cellp">&nbsp;</div>
                            <div class="cell">
                                <div class="title"><a href="javascript:;">中大童（2-14岁）</a></div>
                                <hr/>
                                <div class="category_content">
                                    <div class="right_content" style="padding-left: 0">
                                        <ul>
                                            <li><a href="javascript:;">复古鞋</a></li>
                                            <li><a href="javascript:;">跑步鞋</a></li>
                                            <li><a href="javascript:;">凉鞋</a></li>
                                            <li><a href="javascript:;">户外/越野/健步</a></li>
                                            <li>&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="title"><a href="javascript:;">所有中大童鞋类<span class="arrow_right"></span></a></div>
                            </div>
                            <div class="cell cellp">&nbsp;</div>
                            <div class="cell">
                                <div class="title"><a href="javascript:;">大童鞋（6-14岁）</a></div>
                                <hr/>
                                <div class="category_content">
                                    <div class="right_content" style="padding-left: 0">
                                        <ul>
                                            <li><a href="javascript:;">复古鞋</a></li>
                                            <li><a href="javascript:;">跑步鞋</a></li>
                                            <li><a href="javascript:;">凉鞋</a></li>
                                            <li><a href="javascript:;">户外/越野/健步</a></li>
                                            <li>&nbsp;</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="title"><a href="javascript:;">所有大童鞋类<span class="arrow_right"></span></a></div>
                            </div>

                        </div>
                    </div>
                </div>
            </li>
            <li class="runguwen">
                <i class="icon-shoe-left"></i>
                <span><a href="javascript:;">跑鞋顾问</a></span>
            </li>
        </ul>
    </div>

    <div class="findstore"><i class="icon-location"></i><a href="/shopList">查找门店</a></div>
    <div class="search-box">
        <div class="search-container">
            <form action="#" method="get">
                <input class="fix-full-width with-blurred-caret" data-convertalpha="true" type="text" name="q"
                       autocomplete="off" placeholder="查找关键字">
                <button type="submit"><span class="header-icon icon-search"><span></span></span></button>
            </form>
        </div>
    </div>
</div>
<div class="header-tab">
    <a id="headerToTop" class="icon-circle-active" href="javascript:;"><span class="icon-triangle-hollow-top"><span></span></span></a>
</div>