<div class="header">
    <div class="logo"></div>
    <div class="header_meun">
        <ul>
            <li class="man">
                <span>男</span>
                <div class="category_expand">
                    <div class="category_expand_inner">
                        <div class="row">
                            <div class="cell">
                                <div class="title">鞋类</div>
                                <hr/>
                                <div class="category_content">
                                    <div class="left_content">专业运动</div>
                                    <div class="right_content">
                                        <ul>
                                            <li>跑步</li>
                                            <li>网球</li>
                                            <li>足球</li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="clear: both;display: none"></div>
                                <div class="category_content">
                                    <div class="left_content">经典复古</div>
                                    <div class="right_content">
                                        <ul>
                                            <li>复古跑鞋</li>
                                            <li>omni</li>
                                            <li>英美产</li>
                                            <li>限量款</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="title">所有男子鞋类</div>
                            </div>
                            <div class="cell cellp">&nbsp;</div>
                            <div class="cell">
                                <div class="title">服饰/配饰</div>
                                <hr/>
                                <div class="category_content">
                                    <div class="left_content">专业运动</div>
                                    <div class="right_content">
                                        <ul>
                                            <li>上衣</li>
                                            <li>下装</li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="clear: both;display: none"></div>
                                <div class="category_content">
                                    <div class="left_content">经典复古</div>
                                    <div class="right_content">
                                        <ul>
                                            <li>上衣</li>
                                            <li>下装</li>
                                        </ul>
                                    </div>
                                </div>
                                <div style="clear: both;display: none"></div>
                                <div class="category_content">
                                    <div class="left_content">其他配件</div>
                                    <div class="right_content">
                                        <ul>

                                        </ul>
                                    </div>
                                </div>
                                <div class="title" style="padding-top: 25px;">所有男子服饰配饰</div>
                            </div>
                            <div class="cell cellp">&nbsp;</div>
                            <div class="cell">
                                <div class="title">主推系列</div>
                                <hr/>
                                <div class="category_content">
                                    <div class="right_content" style="padding-left: 0">
                                        <ul>
                                            <li>NBx 顶级跑鞋</li>
                                            <li>Fresh Foam 缓震跑鞋</li>
                                            <li>Vazee 轻量跑鞋</li>
                                            <li>&nbsp;</li>
                                            <li>&nbsp;</li>
                                            <li>V580 新街头主义</li>
                                            <li>99系 </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="gril">
                <span>女</span>
            </li>
            <li class="childen">
                <span>儿童</span>
            </li>
            <li class="runguwen"><i class="guwen"></i>
                <span>跑鞋顾问</span></li>
        </ul>
    </div>
    <div class="search-box">
        <div class="search-container">
            <form action="#" method="get">
                <input class="fix-full-width with-blurred-caret" data-convertalpha="true" type="text" name="q"
                       autocomplete="off" placeholder="查找关键字">
                <button type="submit"><span class="header-icon icon-search"><span>Search</span></span></button>
            </form>
        </div>
    </div>
    <div class="findstore"><i class="find"></i>查找门店</div>
</div>