<div class="header">
    <div class="logo"></div>
    <div class="header_meun">
        <ul>
            <li class="man">男</li>
            <li class="gril">女</li>
            <li class="childen">儿童</li>
            <li class="runguwen"><i class="guwen"></i>跑鞋顾问</li>
        </ul>
    </div>
    <div class="search">
        <form>
            <input class="" placeholder="差找关键字"/>
        </form>
    </div>
</div>