<div class="header">
    <div class="logo"></div>
    <div class="header_meun">
        <ul>
            <li class="man">男</li>
            <li class="gril">女</li>
            <li class="childen">儿童</li>
            <li class="runguwen"><i class="guwen"></i>跑鞋顾问</li>
        </ul>
    </div>
    <div class="search-box">
        <div class="search-container">
            <form action="#" method="get">
                <input class="fix-full-width with-blurred-caret" data-convertalpha="true" type="text" name="q"
                       autocomplete="off" placeholder="查找关键字">
                <button type="submit"><span class="header-icon icon-search"><span>Search</span></span></button>
            </form>
        </div>
    </div>
    <div class="findstore"><i class="find"></i>查找门店</div>
</div>