<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>

    <meta name="viewport" content="width=device-width,initial-scale=0.5,maximum-scale=1,minimum-scale=0.2,user-scalable=no">
    <meta charset="UTF-8">
    <title>NewBalance-商品列表</title>
    <link rel="stylesheet" href="../../../packages/swiper/idangerous.swiper.css">
    <script src="../../../packages/requirejs/2.1.17/require.min.js"></script>
    <!-- build:template
    <script src="../../../modules/mix.built.js"></script>
    <script src="../../../modules/pages/productList/built.js"></script>
    <script src="../../../modules/common/header/built.js"></script>
    <script src="../../../modules/common/footer/built.js"></script>
    /build -->

</head>
<!--[if IE 8]>
<style type="text/css">

    .pageMain .productListBox .productList .product .propope .protitle .popeswiper.left .buyingGuide{
        position: absolute;
        right: 50px;
        top: 0;
        width: 58px;
        height: 58px;
        background-image: url(../../../images/guide1.png);
        background-repeat: no-repeat;
        background-position: center;
    }
</style>
<![endif]-->
<body>
<%- include('../../common/header/index') %>
<div class="pageMain">
    <div class="topimg" style="background-image:url(../../../images/banner05.png);">
    </div>
    <div class="inmeun">
        <div class="chilemeun">
            <ul>
                <li><a href="javascript:;">价 格<i class="icon-up iconSort"></i></a></li>
                <li><a href="javascript:;">上市时间<i class="icon-down iconSort"></i></a></li>
                <li id="features"><a href="javascript:;">功 能<i class="icon-arrow-down"></i></a>
                    <ul class="gonnemeun">
                        <li class="gonnemeunli"><a href="javascript:;">全 部</a></li>
                        <li class="gonnemeunli"><a href="javascript:;">支 撑</a></li>
                        <li class="gonnemeunli"><a href="javascript:;">避 震</a></li>
                        <li class="gonnemeunli"><a href="javascript:;">稳 定</a></li>
                        <li class="gonnemeunli" style="border-bottom: none"><a href="javascript:;">轻 量</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="productListBox">
        <ul class="productList">
            <li class="product adcell" title="text">
                <div class="maiginbtn">
                    <div class="imgpos" title="M1980GB">
                        <img src="../../../images/biglrolist.png" title="M1980GB" alt="M1980GB" border="0"/>
                    </div>
                </div>
            </li>
            <li class="product" title="M1980GB">
                <div class="maiginbtn">
                    <div class="imgpos" title="M1980GB">
                        <img src="../../../images/prolist.png" title="M1980GB" alt="M1980GB" border="0"/>
                    </div>
                    <div class="prono" title="M1980GB">M1980GB</div>
                    <hr/>
                    <p title="M1980GB">较快配速避震跑鞋</p>
                </div>
            </li>
            <li class="product" title="M1980GB">
                <div class="maiginbtn">
                    <div class="imgpos" title="M1980GB">
                        <img src="../../../images/prolist.png" title="M1980GB" alt="M1980GB" border="0"/></div>
                    <div class="prono" title="M1980GB">M1980GB</div>
                    <hr/>
                    <p title="M1980GB">较快配速避震跑鞋</p>
                </div>
            </li>
            <li class="product" title="M1980GB">
                <div class="maiginbtn">
                    <div class="imgpos" title="M1980GB">
                        <img src="../../../images/prolist.png" title="M1980GB" alt="M1980GB" border="0"/></div>
                    <div class="prono" title="M1980GB">M1980GB</div>
                    <hr/>
                    <p title="M1980GB">较快配速避震跑鞋</p>
                </div>
            </li>
            <li class="product" title="M1980GB">
                <div class="maiginbtn">
                    <div class="imgpos" title="M1980GB">
                        <img src="../../../images/prolist.png" title="M1980GB" alt="M1980GB" border="0"/></div>
                    <div class="prono" title="M1980GB">M1980GB</div>
                    <hr/>
                    <p title="M1980GB">较快配速避震跑鞋</p>
                </div>
            </li>
            <li class="product" title="M1980GB">
                <div class="maiginbtn">
                    <div class="imgpos" title="M1980GB">
                        <img src="../../../images/prolist.png" title="M1980GB" alt="M1980GB" border="0"/></div>
                    <div class="prono" title="M1980GB">M1980GB</div>
                    <hr/>
                    <p title="M1980GB">较快配速避震跑鞋</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<%- include('../../common/footer/index') %>
<script src="../../../modules/common/config.js" baseUrl='../../../' main='modules/pages/productList/index'></script>

</body>
</html>
