<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="" name="description">
    <meta content="" itemprop="image">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <title>NewBalance</title>
    <link rel="stylesheet" href="../../../packages/swiper/idangerous.swiper.css">
    <script src="../../../packages/requirejs/2.1.17/require.min.js"></script>
    <!-- build:template
    <script src="../../../modules/mixm.built.js"></script>
    <script src="../../../modules/pages/mlimitedEdition/built.js"></script>
    <script src="../../../modules/common/mheader/built.js"></script>
    <script src="../../../modules/common/mfooter/built.js"></script>
    /build -->
    <script src="../../../modules/common/config.js" baseUrl='../../../' main='modules/pages/mlimitedEdition/index'></script>
</head>
<body>
    <%- include('../../common/mheader/index') %>
    <div class="warp-limitedtion">
        <div  id="index" class="ld-bj">
            <img src="../../../images/mlimitedEdition01.jpg"  border="0" alt=""/>
            <img src="../../../images/mlimitedEdition02.jpg"  border="0" alt=""/>
            <img class="jijiang" src="../../../images/mlimitedEditionjijiang.png"  border="0" alt=""/>
            <img class="jingdian" src="../../../images/mlimitedEditionjingdian.png"  border="0" alt=""/>
            <a href="javascript:;" class="more jmore">了解更多</a>
            <a href="javascript:;" class="more fmore">了解更多</a>
        </div>
        <div id="jijiang" class="ld-bj">
            <img src="../../../images/mlimitedEdition03.jpg"  border="0" alt=""/>
        </div>
        <div id="jidian" class="ld-bj">
            <img src="../../../images/mlimitedEdition04.jpg"  border="0" alt=""/>
            <img src="../../../images/mlimitedEdition05.jpg"  border="0" alt=""/>
            <img src="../../../images/mlimitedEdition06.jpg"  border="0" alt=""/>
            <img src="../../../images/mlimitedEdition07.jpg"  border="0" alt=""/>
            <img src="../../../images/mlimitedEdition08.jpg"  border="0" alt=""/>
            <img src="../../../images/mlimitedEdition09.jpg"  border="0" alt=""/>
            <img src="../../../images/mlimitedEdition10.jpg"  border="0" alt=""/>
            <img src="../../../images/mlimitedEdition11.jpg"  border="0" alt=""/>
            <img src="../../../images/mlimitedEdition12.jpg"  border="0" alt=""/>
            <img src="../../../images/mlimitedEdition13.jpg"  border="0" alt=""/>
        </div>
        <a href="avascript:;" class="top-btn"><span></span><b>返回</b></a>
    </div>
</body>
</html>
