<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="" name="description">
    <meta content="" itemprop="image">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
    <title>NewBalance</title>
    <link rel="stylesheet" href="../../../packages/swiper/idangerous.swiper.css">
    <script src="../../../packages/requirejs/2.1.17/require.min.js"></script>
    <!-- build:template
    <script src="../../../modules/mixm.built.js"></script>
    <script src="../../../modules/pages/mlimitedEdition/built.js"></script>
    <script src="../../../modules/common/mheader/built.js"></script>
    <script src="../../../modules/common/mfooter/built.js"></script>
    /build -->
    <script src="../../../modules/common/config.js" baseUrl='../../../' main='modules/pages/mlimitedEdition/index'></script>
</head>
<body>
    <%- include('../../common/mheader/index') %>
    <div class="warp-limitedtion">
        <div class="ld-bj mlimitedEdition01">

        </div>
    </div>
</body>
</html>
