<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="" name="description">
	<meta content="" itemprop="image">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
	<title>NewBalance</title>
	<script src="../../../packages/requirejs/2.1.17/require.min.js"></script>
	<!-- build:template
	<script src="../../../modules/mixm.built.js"></script>
	<script src="../../../modules/pages/mproductList/built.js"></script>
	<script src="../../../modules/common/mheader/built.js"></script>
	<script src="../../../modules/common/mfooter/built.js"></script>
	/build -->
	<script src="../../../modules/common/config.js" baseUrl='../../../' main='modules/pages/mproductList/index'></script>
</head>
<body>
	<div class="productListPage">
		<%- include('../../common/mheader/index') %>
		<div class="headBox">
			<img src="../../../images/m_productAd.png">
		</div>
		<div class="conditionBox">
			<label class="sortByLabel selectLabel">
				<span class="title icon-arrow-down">排序方式</span>
				<select class="sortBy">
					<option value="0">排序方式</option>
					<option value="1">上市时间－由新到旧</option>
					<option value="2">上市时间－由旧到新</option>
					<option value="3">价格－由高到低</option>
					<option value="4">价格－由低到高</option>
				</select>
			</label>
			<label class="featureLabel selectLabel">
				<span class="title icon-arrow-down">功能</span>
				<select class="feature">
					<option value="0">功能</option>
					<option value="1">支撑</option>
					<option value="2">轻量</option>
					<option value="3">稳定</option>
					<option value="4">避震</option>
				</select>
			</label>
		</div>
		<div class="productListBox">
			<p class="listTitle">专业运动/跑步</p>
			<ul class="productList">
				<li class="product">
					<a href="mproductDetail" class="productLink">
						<div class="imageBox">
							<img src="../../../images/m_product.png">
						</div>
						<p class="title">FreshFoem Hierro</p>
						<p class="subTitle">较快配速避震跑鞋</p>
					</a>
				</li>
				<li class="product">
					<a href="mproductDetail" class="productLink">
						<div class="imageBox">
							<img src="../../../images/m_product.png">
						</div>
						<p class="title">FreshFoem Hierro</p>
						<p class="subTitle">较快配速避震跑鞋</p>
					</a>
				</li>
				<li class="product">
					<a href="mproductDetail" class="productLink">
						<div class="imageBox">
							<img src="../../../images/m_product.png">
						</div>
						<p class="title">FreshFoem Hierro</p>
						<p class="subTitle">较快配速避震跑鞋</p>
					</a>
				</li>
				<li class="product">
					<a href="mproductDetail" class="productLink">
						<div class="imageBox">
							<img src="../../../images/m_product.png">
						</div>
						<p class="title">FreshFoem Hierro</p>
						<p class="subTitle">较快配速避震跑鞋</p>
					</a>
				</li>
			</ul>
		</div>
		<%- include('../../common/mfooter/index') %>
	</div>
</body>
</html>
