<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta content="" name="description">
	<meta content="" itemprop="image">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">
	<title>NewBalance</title>
	<script src="../../../packages/requirejs/2.1.17/require.min.js"></script>
	<!-- build:template
	<script src="../../../modules/mix.built.js"></script>
	<script src="../../../modules/pages/mproductList/built.js"></script>
	<script src="../../../modules/common/header/built.js"></script>
	<script src="../../../modules/common/footer/built.js"></script>
	/build -->
	<script src="../../../modules/common/config.js" baseUrl='../../../' main='modules/pages/mproductList/index'></script>
</head>
<body>
	<div class="productListPage">
		<%- include('../../common/mheader/index') %>
		<div class="headBox">
			<img src="../../../images/m_productAd.png">
		</div>
		<div class="conditionBox">
			<select class="sortBy" value="">
				<optgroup label = "Choose One">
					<option value="0">上市时间－由新到旧</option>
				</optgroup>
			</select>
			<select class="feature"></select>
		</div>
		<div class="productListBox">
			<p class="listTitle">专业运动/跑步</p>
			<ul class="productList">
				<li class="product">
					<div class="imageBox">
						<img src="../../../images/m_product.png">
					</div>
					<p class="title">FreshFoem Hierro</p>
					<p class="subTitle">较快配速避震跑鞋</p>
				</li>
				<li class="product">
					<div class="imageBox">
						<img src="../../../images/m_product.png">
					</div>
					<p class="title">FreshFoem Hierro</p>
					<p class="subTitle">较快配速避震跑鞋</p>
				</li>
				<li class="product">
					<div class="imageBox">
						<img src="../../../images/m_product.png">
					</div>
					<p class="title">FreshFoem Hierro</p>
					<p class="subTitle">较快配速避震跑鞋</p>
				</li>
				<li class="product">
					<div class="imageBox">
						<img src="../../../images/m_product.png">
					</div>
					<p class="title">FreshFoem Hierro</p>
					<p class="subTitle">较快配速避震跑鞋</p>
				</li>
			</ul>
		</div>
		<%- include('../../common/mfooter/index') %>
	</div>
</body>
</html>
