<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>

	<meta name="viewport" content="width=device-width,initial-scale=0.5,maximum-scale=1,minimum-scale=0.2,user-scalable=no">
	<meta charset="UTF-8">
	<title>NewBalance-查找门店</title>
	<link rel="stylesheet" href="../../../packages/swiper/idangerous.swiper.css">
	<script src="../../../packages/requirejs/2.1.17/require.min.js"></script>
	
	<!-- build:template
	<script src="../../../modules/mix.built.js"></script>
	<script src="../../../modules/pages/shopList/built.js"></script>
	<script src="../../../modules/common/header/built.js"></script>
	<script src="../../../modules/common/footer/built.js"></script>
	/build -->

	<script src="../../../modules/common/config.js" baseUrl='../../../' main='modules/pages/shopList/index'></script>


</head>
<body>
	<div class="shopListPage">
		<%- include('../../common/header/index') %>
		<div class="pageMain">
			<div class="container">
				<div class="searchBox">
					<h1 class="title">
						<span class="text">查找门店</span>
						<span class="map_small"></span>
					</h1>
					<select id="province" class="province">
						<option value="-1">省份</option>
					</select>
					<select  id="provincecity" class="city">
						<option value="-1">城市</option>
					</select>

					<ul class="typeList">
						<li>
							<a href="javascript:;" class="typeLink active" data-type="shop">
								<span class="icon-shop icon"></span>
								<span class="text">正价店</span>
								<span class="icon-close"></span>
							</a>
						</li>
						<li>
							<a href="javascript:;" class="typeLink active" data-type="house">
								<span class="icon-house icon"></span>
								<span class="text">工厂店</span>
								<span class="icon-close"></span>
							</a>
						</li>
						<li>
							<a href="javascript:;" class="typeLink active" data-type="kids">
								<span class="icon-kids icon"></span>
								<span class="text">童鞋店</span>
								<span class="icon-close"></span>
							</a>
						</li>
					</ul>
					<a class="searchBtn" href="javascript:;">搜索</a>
				</div>
				<div class="rightBox">
					<ul class="shopList">
						
					</ul>
					<div class="map-container">
						<a href="#" class="rd-btn close-map-btn">关闭地图</a>
						<div id="mapview-container">

						</div>
					</div>
					<div class="paginationBox">
						<div class="totalCounts">
							<span>共</span>
							<span class="count">0</span>
							<span>条结果</span>
						</div>
						<ul class="pageNumList">
						</ul>
					</div>
				</div>
			</div>
		</div>
		<%- include('../../common/footer/index') %>
	</div>
	<script src="http://api.map.baidu.com/api?v=1.4" type="text/javascript"></script>
</body>
</html>
