<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>

	<meta name="viewport" content="width=device-width,initial-scale=0.5,maximum-scale=1,minimum-scale=0.5,user-scalable=no">
	<meta charset="UTF-8">
	<title>NewBalance-查找门店</title>
	<link rel="stylesheet" href="/packages/swiper/idangerous.swiper.css">
	<script src="../../../packages/requirejs/2.1.17/require.min.js"></script>
	
	<!-- build:template
	<script src="../../../modules/mix.built.js"></script>
	<script src="../../../modules/pages/shopList/built.js"></script>
	<script src="../../../modules/common/header/built.js"></script>
	<script src="../../../modules/common/footer/built.js"></script>
	/build -->

	<script src="../../../modules/common/config.js" baseUrl='../../../' main='modules/pages/shopList/index'></script>


</head>
<body>
	<div class="shopListPage">
		<%- include('../../common/header/index') %>
		<div class="pageMain">
			<div class="container">
				<div class="searchBox">
					<h1 class="title">
						<span class="text">查找门店</span>
						<span class="map_small"></span>
					</h1>
					<select id="province" class="province">
						<option>省份</option>
					</select>
					<select  id="provincecity" class="city">
						<option>城市</option>
					</select>

					<ul class="typeList">
						<li>
							<a href="javascript:;" class="typeLink active">
								<span class="icon-shop icon"></span>
								<span class="text">正价店</span>
								<span class="icon-close"></span>
							</a>
						</li>
						<li>
							<a href="javascript:;" class="typeLink">
								<span class="icon-house icon"></span>
								<span class="text">工厂店</span>
								<span class="icon-close"></span>
							</a>
						</li>
						<li>
							<a href="javascript:;" class="typeLink">
								<span class="icon-kids icon"></span>
								<span class="text">童鞋店</span>
								<span class="icon-close"></span>
							</a>
						</li>
					</ul>
					<a class="searchBtn" href="javascript:;">搜索</a>
				</div>
				<div class="rightBox">
					<ul class="shopList">
						<li class="shopInfos">
							<span class="name view-map-btn">上海玫瑰坊工厂店</span>
							<span class="address">上海市长宁路890号玫瑰坊商场1F-06号商铺</span>
							<span class="icon-shoe-right icon "></span>
						</li>
						<li class="shopInfos">
							<span class="name view-map-btn">上海银泰购物中心工厂店</span>
							<span class="address">上海市石龙路750号B1 盛泰购物中心(南广场)</span>
							<span class="icon-kids icon "></span>
						</li>
						<li class="shopInfos">
							<span class="name view-map-btn">上海久光百货</span>
							<span class="address">上海市南京西路1618号6楼New Balance专柜 </span>
							<span class="icon-villa icon "></span>
						</li>
						<li class="shopInfos">
							<span class="name view-map-btn">上海创智园工厂店</span>
							<span class="address">上海市杨浦区大学路254-260号</span>
							<span class="icon-shoe-right icon"></span>
						</li>
						<li class="shopInfos">
							<span class="name view-map-btn">上海国金中心</span>
							<span class="address">上海市浦东新区陆家嘴金融贸易区世纪大道8号国金中心D座</span>
							<span class="icon-kids icon "></span>
						</li>
						<li class="shopInfos">
							<span class="name view-map-btn">浦东商场-成山KIDS</span>
							<span class="address">上海市浦东新区成山路1993号二楼</span>
							<span class="icon-villa icon "></span>
						</li>
						<li class="shopInfos">
							<span class="name view-map-btn">南京路宝大祥KIDS</span>
							<span class="address">上海市南京东路637号5楼New Balance专柜</span>
							<span class="icon-shoe-right icon"></span>
						</li>
						<li class="shopInfos">
							<span class="name view-map-btn">新世界KIDS</span>
							<span class="address">上海市南京西路2-68号8楼New Balance KIDS柜台</span>
							<span class="icon-kids icon "></span>
						</li>
					</ul>
					<div class="map-container">
						<a href="#" class="rd-btn close-map-btn">关闭地图</a>
						<div id="mapview-container">

						</div>
					</div>
					<div class="paginationBox">
						<div class="totalCounts">
							<span>共</span>
							<span class="count">456</span>
							<span>条结果</span>
						</div>
						<ul class="pageNumList">
						</ul>
					</div>
				</div>
			</div>
		</div>
		<%- include('../../common/footer/index') %>
	</div>
	<script src="http://api.map.baidu.com/api?v=1.4" type="text/javascript"></script>
</body>
</html>
