<div class="footer">
    <div class="aboutus">
        <div class="tablecontainer">
            <div class="row">
                <div class="cell">
                    <ul>
                        <li><a href="javascript:;">品牌热线：</a></li>
                        <li><a href="javascript:;">800-820-2887（固话）</a></li>
                        <li><a href="javascript:;">400-890-2887（手机）</a></li>
                    </ul>
                    <ul class="ultop">
                        <li><a href="javascript:;">2015 @ New balance</a></li>
                    </ul>
                </div>
                <div class="cell">
                    <ul>
                        <li><a href="/contactus">联系我们</a></li>
                    </ul>
                </div>
                <div class="cell noPadding">
                    <ul class="textright">
                        <li><a href="javascript:;">官方在线购买渠道</a></li>
                        <li><a href="javascript:;">天猫旗舰店</a></li>
                        <li><a href="javascript:;">京东旗舰店</a></li>
                        <li><a href="javascript:;">1号店旗舰店</a></li>
                    </ul>
                    <ul class="ultop floatleft">
                        <li><a href="javascript:;"><img src="../../../images/gsbh.gif" border="0"/></a></li>
                        <li><a href="javascript:;">沪ICP备10207056号</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr/>
</div>