<div class="header">
    <div class="wrap-header">
        <a class="logo icon-nb" href="###"></a>
         <span class="cm-header-icon fl guwen">
          <i class="icon-shoe-hollow-left"></i>
        </span>
        <span class="cm-header-icon fr">
          <i class="icon-menu"></i>
        </span>
        <span class="cm-header-icon fr">
          <i class="icon-search"></i>
        </span>

    </div>

</div>
<div class="header-menu">

</div>