<div class="header">
    <div class="wrap-header">
        <a class="logo icon-nb" href="javascript:;"></a>
         <span class="cm-header-icon fl guwen">
          <i id="guwen" class="icon-shoe-hollow-left"></i>
        </span>
        <span class="cm-header-icon fr menu showdownmenu">
          <i class="icon-menu"></i>
        </span>
        <span class="cm-header-icon fr search showdownmenu">
          <i class="icon-search"></i>
        </span>

    </div>

</div>
<div class="header-menu">
    <ul class="header-ul">
        <li class="man">
            <a class="shoumenu" href="javascript:;">男子 <i class="icon icon-triangle-hollow-right"></i></a>
            <ul class="childrenul">
                <li>
                    <a class="shoumenu" href="javascript:;">鞋类 <i class="icon icon-triangle-hollow-right"></i></a>
                    <ul class="childrenulshoes">
                        <li>
                            <a class="shoumenu" href="javascript:;">专业运动 <i class="icon icon-triangle-hollow-right"></i></a>
                            <ul class="childrenulpos">
                                <li><a href="javascript:;">跑步<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">网球<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">足球<i class="icon icon-triangle-hollow-right"></i></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="shoumenu" href="javascript:;">经典复古<i class="icon icon-triangle-hollow-right"></i></a>
                            <ul class="childrenulpos">
                                <li><a href="javascript:;">复古跑鞋<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">omni<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">英美产<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">限量款<i class="icon icon-triangle-hollow-right"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="shoumenu" href="javascript:;">服饰/配饰 <i class="icon icon-triangle-hollow-right"></i></a>
                    <ul class="childrenulshoes">
                        <li>
                            <a class="shoumenu" href="javascript:;">专业运动 <i class="icon icon-triangle-hollow-right"></i></a>
                            <ul class="childrenulpos">
                                <li><a href="javascript:;">上衣<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">下装<i class="icon icon-triangle-hollow-right"></i></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="shoumenu" href="javascript:;">经典复古<i class="icon icon-triangle-hollow-right"></i></a>
                            <ul class="childrenulpos">
                                <li><a href="javascript:;">上衣<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">下装<i class="icon icon-triangle-hollow-right"></i></a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:;">其他配件</a></li>
                    </ul>
                </li>
                <li>
                    <a class="shoumenu" href="javascript:;">主推系列 <i class="icon icon-triangle-hollow-right"></i></a>
                    <ul class="childrenulpos">
                        <li><a href="javascript:;">NBx 顶级跑鞋<i class="icon icon-triangle-hollow-right"></i></a></li>
                        <li><a href="javascript:;">Fresh Foam 缓震跑鞋<i class="icon icon-triangle-hollow-right"></i></a>
                        </li>
                        <li><a href="javascript:;">Vazee 轻量跑鞋<i class="icon icon-triangle-hollow-right"></i></a></li>
                        <li><a href="javascript:;">V580 新街头主义<i class="icon icon-triangle-hollow-right"></i></a></li>
                        <li><a href="javascript:;">99系<i class="icon icon-triangle-hollow-right"></i></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="girl">
            <a class="shoumenu" href="javascript:;">女子 <i class="icon icon-triangle-hollow-right"></i></a>
            <ul class="childrenul">
                <li>
                    <a class="shoumenu" href="javascript:;">鞋类 <i class="icon icon-triangle-hollow-right"></i></a>
                    <ul class="childrenulshoes">
                        <li>
                            <a class="shoumenu" href="javascript:;">专业运动 <i class="icon icon-triangle-hollow-right"></i></a>
                            <ul class="childrenulpos">
                                <li><a href="javascript:;">跑步<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">网球<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">女子健身<i class="icon icon-triangle-hollow-right"></i></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="shoumenu" href="javascript:;">经典复古<i class="icon icon-triangle-hollow-right"></i></a>
                            <ul class="childrenulpos">
                                <li><a href="javascript:;">复古跑鞋<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">omni<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">英美产<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">限量款<i class="icon icon-triangle-hollow-right"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a class="shoumenu" href="javascript:;">服饰/配饰 <i class="icon icon-triangle-hollow-right"></i></a>
                    <ul class="childrenulshoes">
                        <li>
                            <a class="shoumenu" href="javascript:;">专业运动 <i class="icon icon-triangle-hollow-right"></i></a>
                            <ul class="childrenulpos">
                                <li><a href="javascript:;">上衣<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">下装<i class="icon icon-triangle-hollow-right"></i></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="shoumenu" href="javascript:;">经典复古<i class="icon icon-triangle-hollow-right"></i></a>
                            <ul class="childrenulpos">
                                <li><a href="javascript:;">上衣<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">下装<i class="icon icon-triangle-hollow-right"></i></a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:;">其他配件</a></li>
                    </ul>
                </li>
                <li>
                    <a class="shoumenu" href="javascript:;">主推系列 <i class="icon icon-triangle-hollow-right"></i></a>
                    <ul class="childrenulpos">
                        <li><a href="javascript:;">NBx 顶级跑鞋<i class="icon icon-triangle-hollow-right"></i></a></li>
                        <li><a href="javascript:;">Fresh Foam 缓震跑鞋<i class="icon icon-triangle-hollow-right"></i></a>
                        </li>
                        <li><a href="javascript:;">Vazee 轻量跑鞋<i class="icon icon-triangle-hollow-right"></i></a></li>
                        <li><a href="javascript:;">V580 新街头主义<i class="icon icon-triangle-hollow-right"></i></a></li>
                        <li><a href="javascript:;">99系<i class="icon icon-triangle-hollow-right"></i></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="child">
            <a class="shoumenu" href="javascript:;">儿童 <i class="icon icon-triangle-hollow-right"></i></a>
            <ul class="childrenul">
                <li>
                    <a class="shoumenu" href="javascript:;">婴童（0-2岁) <i class="icon icon-triangle-hollow-right"></i></a>
                    <ul class="childrenulpos">
                        <li><a href="javascript:;">复古鞋<i class="icon icon-triangle-hollow-right"></i></a></li>
                        <li><a href="javascript:;">凉鞋<i class="icon icon-triangle-hollow-right"></i></a></li>
                        <li><a href="javascript:;">户外/越野/健步<i class="icon icon-triangle-hollow-right"></i></a></li>
                    </ul>
                </li>
                <li>
                    <a class="shoumenu" href="javascript:;">中童（2-6岁）<i class="icon icon-triangle-hollow-right"></i></a>
                    <ul class="childrenulpos">
                        <li><a href="javascript:;">复古鞋<i class="icon icon-triangle-hollow-right"></i></a></li>
                        <li><a href="javascript:;">跑步鞋<i class="icon icon-triangle-hollow-right"></i></a></li>
                        <li><a href="javascript:;">凉鞋<i class="icon icon-triangle-hollow-right"></i></a></li>
                        <li><a href="javascript:;">户外/越野/健步<i class="icon icon-triangle-hollow-right"></i></a></li>
                    </ul>
                </li>
                <li>
                    <a class="shoumenu" href="javascript:;">中大童（2-14岁）<i
                                class="icon icon-triangle-hollow-right"></i></a>
                    <ul class="childrenulpos">
                        <li><a href="javascript:;">复古鞋<i class="icon icon-triangle-hollow-right"></i></a></li>
                        <li><a href="javascript:;">跑步鞋<i class="icon icon-triangle-hollow-right"></i></a></li>
                        <li><a href="javascript:;">凉鞋<i class="icon icon-triangle-hollow-right"></i></a></li>
                        <li><a href="javascript:;">户外/越野/健步<i class="icon icon-triangle-hollow-right"></i></a></li>
                    </ul>
                </li>
                <li>
                    <a class="shoumenu" href="javascript:;">大童鞋（6-14岁）<i
                                class="icon icon-triangle-hollow-right"></i></a>
                    <ul class="childrenulpos">
                        <li><a href="javascript:;">复古鞋<i class="icon icon-triangle-hollow-right"></i></a></li>
                        <li><a href="javascript:;">跑步鞋<i class="icon icon-triangle-hollow-right"></i></a></li>
                        <li><a href="javascript:;">凉鞋<i class="icon icon-triangle-hollow-right"></i></a></li>
                        <li><a href="javascript:;">户外/越野/健步<i class="icon icon-triangle-hollow-right"></i></a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="search-box">
    <div class="search-container">
        <form action="#" method="get">
            <input class="fix-full-width with-blurred-caret" data-convertalpha="true" type="text" name="q"
                   autocomplete="off" placeholder="查找关键字">
            <button type="submit"><span class="header-icon icon-search"><span></span></span></button>
        </form>
    </div>
</div>