<div class="header">
    <div class="wrap-header">
        <a class="logo icon-nb" href="javascript:;"></a>
         <span class="cm-header-icon fl guwen">
          <i class="icon-shoe-hollow-left"></i>
        </span>
        <span class="cm-header-icon fr">
          <i class="icon-menu"></i>
        </span>
        <span class="cm-header-icon fr">
          <i class="icon-search"></i>
        </span>

    </div>

</div>
<div class="header-menu">
    <ul>
        <li>
            <a class="shoumenu" href="javascript:;">男子 <i class="icon icon-triangle-hollow-right"></i></a>
            <ul class="childrenul">
                <li>
                    <a href="javascript:;">鞋类 <i class="icon icon-triangle-hollow-right"></i></a>
                    <ul class="childrenulshoes">
                        <li>
                            <a href="javascript:;">专业运动 <i class="icon icon-triangle-hollow-right"></i></a>
                            <ul class="childrenulpos">
                                <li><a href="javascript:;">跑步<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">网球<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">足球<i class="icon icon-triangle-hollow-right"></i></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">经典复古<i class="icon icon-triangle-hollow-right"></i></a>
                            <ul class="childrenulpos">
                                <li><a href="javascript:;">复古跑鞋<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">omni<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">英美产<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">限量款<i class="icon icon-triangle-hollow-right"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">服饰/配饰 <i class="icon icon-triangle-hollow-right"></i></a>
                    <ul class="childrenulshoes">
                        <li>
                            <a href="javascript:;">专业运动 <i class="icon icon-triangle-hollow-right"></i></a>
                            <ul class="childrenulpos">
                                <li><a href="javascript:;">上衣<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">下装<i class="icon icon-triangle-hollow-right"></i></a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:;">经典复古<i class="icon icon-triangle-hollow-right"></i></a>
                            <ul class="childrenulpos">
                                <li><a href="javascript:;">上衣<i class="icon icon-triangle-hollow-right"></i></a></li>
                                <li><a href="javascript:;">下装<i class="icon icon-triangle-hollow-right"></i></a></li>
                            </ul>
                        </li>
                        <li><a href="javascript:;">其他配件</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:;">主推系列 <i class="icon icon-triangle-hollow-right"></i></a>
                    <ul class="childrenulpos">
                        <li><a href="javascript:;">NBx 顶级跑鞋</a></li>
                        <li><a href="javascript:;">Fresh Foam 缓震跑鞋</a></li>
                        <li><a href="javascript:;">Vazee 轻量跑鞋</a></li>
                        <li><a href="javascript:;">V580 新街头主义</a></li>
                        <li><a href="javascript:;">99系</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li ><a class="shoumenu" href="javascript:;">女子 <i class="icon icon-triangle-hollow-right"></i></a></li>
        <li ><a class="shoumenu" href="javascript:;">儿童 <i class="icon icon-triangle-hollow-right"></i></a></li>
    </ul>
</div>