//@import '../global';
@import "../base";
@import "../common";
@headerbackground: #232323;
@hover_meun: #e7e7e7;
@hover_childmeun: #f7f7f7;
@fontcolor: #000;
@mcolor: #545454;
@logobc: #df1e3b;
.margin_btm {
    margin-bottom: 10px;
}

.acolor {
    color: @fontcolor!important;
}
.fr{
    float: right;
}
.fl{
    float: left;
}
.header {
    min-height: 56px;
    .wrap-header{
        z-index: 960;
        background: @headerbackground;
        min-height: 56px;
        font-size: 1.3rem;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        .logo {
            background: @logobc;
            display: inline-block;
            text-decoration: none;
            width: 125px;
            height: 56px;
            display: inline-block;
            float: left;
            position: relative;
            font-size: 2.2rem;
            color: white;
            text-align: center;
            line-height: 56px;
            &:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-bottom: 56px solid transparent;
                border-left: 23px solid @logobc;
                right: -23px;
            }
            &:hover {
                text-decoration: none;
            }
        }
        .guwen{
            position: relative;
            left: 20px;
        }
        .icon-shoe-hollow-left{
            font-size: 18px;
        }
    }
    .cm-header-icon{
        display: inline-block;
        text-align: center;
        cursor: pointer;
        font-size: 2.4rem;
        color: #fff;
        width: 50px;
        height: 56px;
        line-height: 56px;
        &:active{
            color: red;
        }
    }
}

.header-menu{
    position: fixed;
    top: 56px;
    z-index: 959;
    width: 100%;
    height: 100%;
    background: #000;
    overflow-x: auto;
    ul{
        padding: 0 15px;
    }
    li{
        color: #fff;
        line-height: 40px;
        font-size: 2rem;
        padding: 10px 0;
        .icon{
            float: right;
            line-height: 40px;
        }
        .icon-triangle-hollow-down{
            font-size: 0.9rem;
        }
        a{
            color: #FFF;
            text-decoration: none;
            display: block;
            height: 40px;
            &:active{
                background-color: #c0c0c0;
            }
        }


    }

    .childrenul{
        padding: 0;
        display: none;
        li{
            text-indent: 1em;
            padding-bottom: 0px;
        }
    }
    .childrenulshoes{
        padding: 0;
        display: none;
        li{
            text-indent: 2em;
            padding-bottom: 0px;
        }
    }
    .childrenulpos{
        padding: 0;
        display: none;
        li{
            text-indent: 3em;
            padding-bottom: 0px;
           a{
                color: rgba(255,255,255,.5);
           }
        }
    }


}
