<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta charset="UTF-8">
	<title>NewBalance</title>
	<link rel="stylesheet" href="../../../packages/swiper/idangerous.swiper.css">
	<script src="../../../packages/requirejs/2.1.17/require.min.js"></script>
	<!-- build:template
	<script src="../../../modules/mix.built.js"></script>
	<script src="../../../modules/pages/home/built.js"></script>
	<script src="../../../modules/common/header/built.js"></script>
	<script src="../../../modules/common/footer/built.js"></script>
	/build -->
	<script src="../../../modules/common/config.js" baseUrl='../../../' main='modules/pages/mhome/index'></script>

</head>
<body>
	<div class="homePage">
		<%- include('../../common/mheader/index') %>
	</div>
</body>
</html>
