<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta charset="UTF-8">
    <!--[if lt IE 9]>
		<script src="/packages/html5shiv/html5shiv.js" type="text/javascript"></script>
    <![endif]-->
	<style>
		/* for vml in ie8 */
		v\:rect { display: inline-block; behavior: url(#default#VML) }
		v\:image { display: inline-block; behavior: url(#default#VML) }
		v\:fill { display: inline-block; behavior: url(#default#VML) }
		v\:stroke { display: inline-block; behavior: url(#default#VML) }
		o\:opacity2 { display: inline-block; behavior: url(#default#VML) }
		dn\:defs { display: none }
		v\:group { position: relative; text-indent: 0px; width: 100%; display: inline-block; height: 100%; behavior: url(#default#VML) }
		v\:shape { width: 100%; display: inline-block; height: 100%; behavior: url(#default#VML) }
	</style>
	<title>NewBalance</title>
	<link rel="stylesheet" href="/packages/swiper/idangerous.swiper.css">
	<script src="../../../packages/requirejs/2.1.17/require.min.js"></script>
	<!-- build:template
	<script src="../../../modules/mix.built.js"></script>
	<script src="../../../modules/pages/home/built.js"></script>
	/build -->
	<script src="../../../modules/common/config.js" baseUrl='../../../' main='modules/pages/home/index'></script>

</head>
<body>
	<%- include('../../common/header/index') %>
	<div class="swiper-container">
    <!-- Additional required wrapper -->
	    <div class="swiper-wrapper">
	        <!-- Slides -->
	        <div class="swiper-slide" style="background-image:url(/images/banner01.png);" ></div>
	        <div class="swiper-slide" style="background-image:url(/images/banner02.png);" ></div>
	        <div class="swiper-slide" style="background-image:url(/images/banner03.png);" ></div>
	        <div class="swiper-slide" style="background-image:url(/images/banner04.png);" ></div>
	    </div>
	    <!-- If we need pagination -->
	    <div class="swiper-pagination"></div>
	    
	    <!-- If we need navigation buttons -->
	    <div class="swiper-button-prev"></div>
	    <div class="swiper-button-next"></div>
	    
	    <!-- If we need scrollbar -->
	    <div class="swiper-scrollbar"></div>
	</div>
	<%- include('../../common/footer/index') %>
</body>
</html>
