<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>

    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
	<meta charset="UTF-8">
	<title>NewBalance</title>
	<link rel="stylesheet" href="../../../packages/swiper/idangerous.swiper.css">
	<script src="../../../packages/requirejs/2.1.17/require.min.js"></script>
	<!-- build:template
	<script src="../../../modules/mix.built.js"></script>
	<script src="../../../modules/pages/home/built.js"></script>
	<script src="../../../modules/common/header/built.js"></script>
	<script src="../../../modules/common/footer/built.js"></script>
	/build -->
	<script src="../../../modules/common/config.js" baseUrl='../../../' main='modules/pages/home/index'></script>

</head>
<body>
	<div class="homePage">
		<%- include('../../common/header/index') %>
		<div class="swiper-container topBannerSwiper">
		    <div class="swiper-wrapper">
		        <div class="swiper-slide" style="background-image:url(../../../images/banner01.png);" ></div>
		        <div class="swiper-slide" style="background-image:url(../../../images/banner02.png);" ></div>
		        <div class="swiper-slide" style="background-image:url(../../../images/banner03.png);" ></div>
		        <div class="swiper-slide" style="background-image:url(../../../images/banner04.png);" ></div>
		    </div>
		    <div class="swiper-pagination"></div>
		</div>
		<div class="noticeBox">
			<span class="text">关注NewBalance中国</span>
			<a class="weibo" href=""></a>
			<a class="weixin" href="javascript:;"></a>
		</div>
		<div class="topicListBox">
			<ul class="topicList">
				<li class="topic">
					<a class="topicLink" href="" style="background-image:url(../../../images/topicImage.png)">
						<div class="topicText">
							<span>详细内容</span>
							<span class="icon-triangle-right"></span>
						</div>
					</a>
				</li>
				<li class="topic" style="background-image:url(../../../images/topicImage.png)">
					<a class="topicLink" href="" style="background-image:url(../../../images/topicImage.png)">
						<div class="topicText">
							<span>详细内容</span>
							<span class="icon-triangle-right"></span>
						</div>
					</a>
				</li>
				<li class="topic" style="background-image:url(../../../images/topicImage.png)">
					<a class="topicLink" href="" style="background-image:url(../../../images/topicImage.png)">
						<div class="topicText">
							<span>详细内容</span>
							<span class="icon-triangle-right"></span>
						</div>
					</a>
				</li>
				<li class="topic" style="background-image:url(../../../images/topicImage.png)">
					<a class="topicLink" href="" style="background-image:url(../../../images/topicImage.png)">
						<div class="topicText">
							<span>详细内容</span>
							<span class="icon-triangle-right"></span>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="swiper-container bottomNewsSwiper">
		    <div class="swiper-wrapper">
		        <div class="swiper-slide">
		        	<image class="leftImage" src="../../../images/swiper_left01.png">
		        	<div class="rightBox">
		        		<p class="time">2015.7.2</p>
		        		<h1 class="title">New Balance Always In Beta 全新品牌平台正式发布</h1>
		        		<p class="info">今天，在北京，全球知名的专业运动品牌New Balance以一场盛大的Always In Beta全新品牌沟通平台发布会，宣告了品牌发展新纪元的到来。New Balance也借此机会，正式宣布进军综合体育领域，同时还震撼推出了全新vazee疾风系列跑鞋。</p>
		        		<a class="knowMore" href="">了解更多</a>
		        	</div>
		        </div>
		    </div>
		    
		    <div class="swiper-button-prev icon-triangle-thin-left"></div>
		    <div class="swiper-button-next icon-triangle-thin-right"></div>
		</div>
		
		<%- include('../../common/footer/index') %>
	</div>
	<div class="pageCover">
		<div class="qrcodeBox">
			<img src="../../../images/qrcode.png">
			<a class="icon-close-thin closeBtn" href="javascript:;"></a>
		</div>
	</div>
</body>
</html>
