<div class="footer">
    <div class="aboutus">
        <ul>
            <li><a href="javascript:;">品牌热线：</a></li>
            <li><a href="javascript:;">400-890-2887（手机）</a></li>
            <li><a href="javascript:;">800-820-2887（固话）</a></li>
        </ul>
        <hr/>
        <ul >
            <li class="fl"><a href="javascript:;">2015 @ New balance</a></li>
            <li class="fl gongshangpadding"><a href="javascript:;"><img src="../../../images/gongshang.png" border="0"></a></li>
            <li class="fl"><a href="javascript:;">沪ICP备10207056号</a></li>
        </ul>
    </div>

</div>